.container {
    background-color: rgb(236, 233, 233);
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.grid_item {
    padding: 20px;
}

.loading_spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width:1900px) {
    .grid_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:1560px) {
    .grid_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1200px) {
    .grid_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:950px) {
    .container {
        margin-top: 160px;
    }

    .grid_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}