.main {
    padding-top: 200px;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    padding-right: 10%;
    padding-left: 10%;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
}

.mainImage {
    /* background-size: cover;
    background-position: center; */
    width: 200px;
    height: 200px;
    align-self: center;

}

.imageBackgoud {
    margin-left: 20px;
    display: flex;
    width: 300px;
    height: 400px;
    background-color: rgb(236, 233, 233);
    justify-content: center;
}

.details {
    margin-left: 20px;
}

.title {
    font-size: 16px;
    font-weight: 800;
    color: rgb(31, 28, 28);
}

.subTitle {
    font-size: 16px;
    font-weight: 400;
    color: rgb(97, 97, 97);
    padding-left: 10px;
}

.mainTitle {
    font-weight: 600;
    font-size: 22px;
}

.itemDescription {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.cartArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.changeQuantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.changeBtn {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: rgb(196, 192, 192) solid 1px;
    font-size: 20px;
    cursor: pointer;
}

.buyNowBtn {
    background-color: red;
    height: 40px;
    font-weight: 600;
}

.addToCart {
    border: red solid 1px;
    height: 40px;
    color: red;
    margin-left: 20px;
}

.usd {
    font-weight: 400;
    color: rgb(122, 122, 122);
}

.discount {
    padding-left: 10px;
    color: rgb(170, 170, 170);
    text-decoration: line-through;
    font-weight: 400;
    font-size: 20px;
}

.price {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
}

.rateBar {
    color: red;
}

.thumbnail {
    margin-bottom: 10px;
}

.recentImage {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.grid_item {
    padding: 20px;
}